/*font*/
$default-font: "Open Sans", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Arvo: "Arvo", sans-serif;
/*color*/
$orange: #ffc80a;
$violet: #8f75be;
$white: #fff;
$black: #292929;
$gray: #9fa3a7;
