@import "fonts";
@import "libs";
@import "vars";
@import "_mixins/font-size";

* {
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder{
	color: #ddd;
	opacity: 1;
}
*:-moz-placeholder {
	color: #ddd;
	opacity: 1;
}
*::-moz-placeholder {
	color: #ddd;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #ddd;
	opacity: 1;
}
/*our styles*/
html {
	font-size: 14px;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/*table*/
.table {
	width: 100%;
    max-width: 100%;
}
/*// .table-responsive {
// 	display: block;
// 	width: 100%;
// 	overflow-x: auto;
// }*/
/*btn*/
.btn {
	display: inline-block;
	text-align: center;
	white-space: norap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.6rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
}
/*form*/
.input-group {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}
.form-control {
	display: block;
	width: 100%;
	padding: .6rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.input-group .form-control {
	width: 1%;
	flex: 1 1 auto;
}
/*main styles*/

/*progress-nav*/
.wrap-progress-nav {
	padding: 80px 0 60px
}

/*BLOCK progress-nav*/
.progress-nav {
	width: 100%;
	display: flex;
	align-items: center;
	&__dot {
		width: 30px;
		height: 30px;
		background-color: $orange;
		color: $gray;
		border-radius: 50%;
		text-align: center;
		line-height: 30px;
		text-transform: uppercase;
		font-family: $Montserrat;
		@include fontSize(12px);
		position: relative;
		overflow: visible;
		cursor: pointer;
		&:after {
			content: attr(data-step);
			color: $white;
		}
		&.active {
			background-color: $violet;
		}
		&.active.success:after {
			content: 'ok';
		}
		&.active .progress-nav__text {
			color: $black;
		}
	}
	&__text {
		position: absolute;
		left: 50%;
		top: 130%;
		transform: translateX(-50%);
		line-height: 1.5em;
		width: 70px;
		word-wrap: break-word;
	}
	&__line {
		background-color: $orange;
		flex-grow: 1;
		height: 2px;
		position: relative;
		overflow: hidden;
		&.success:after {
			content: '';
			position: absolute;
			background-color: $violet;
			height: 2px;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
}


/*SECTION tab-content*/
.tab-content {
	display: none;
	&.current {
		display: block;
	}
}

/*BLOCK order-table*/
.order-table {

}



@import "media";