@import "fonts";
@import "libs";
@import "vars";
@import "_mixins/font-size";

* {
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder{
	color: #ddd;
	opacity: 1;
}
*:-moz-placeholder {
	color: #ddd;
	opacity: 1;
}
*::-moz-placeholder {
	color: #ddd;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #ddd;
	opacity: 1;
}
/*our styles*/
html {
	font-size: 14px;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/*main styles*/

/*progress-nav*/
.wrap-progress-nav {
	padding: 80px 0 60px
}

/*BLOCK progress-nav*/
.progress-nav {
	width: 100%;
	display: flex;
	align-items: center;
	&__dot {
		width: 30px;
		height: 30px;
		background-color: $orange;
		color: $gray;
		border-radius: 50%;
		text-align: center;
		line-height: 30px;
		text-transform: uppercase;
		font-family: $Montserrat;
		@include fontSize(12px);
		position: relative;
		overflow: visible;
		cursor: pointer;
		&:after {
			content: attr(data-step);
			color: $white;
		}
		&.active {
			background-color: $violet;
		}
		&.active.success:after {
			content: 'ok';
		}
		&.active .progress-nav__text {
			color: $black;
		}
	}
	&__text {
		position: absolute;
		left: 50%;
		top: 130%;
		transform: translateX(-50%);
		line-height: 1.5em;
		width: 70px;
		word-wrap: break-word;
	}
	&__line {
		background-color: $orange;
		flex-grow: 1;
		height: 2px;
		position: relative;
		overflow: hidden;
		&.success:after {
			content: '';
			position: absolute;
			background-color: $violet;
			height: 2px;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
}



@import "media";